<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for resources do |f| %>
    <div class="form-group">
      <%= f.input :content, input_html: { class: "form-control"} %>
    </div>
    <div class="form-actions">
      <%= f.submit "Save", disable_with: "Saving...", class: "btn btn-primary"%>
      <%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
