<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Copyright ©2016 <%= link_to('Rails101', 'http://courses.growthschool.com/courses/rails-101/', target: 'blank') %> by xdite
    <br>
    Design by <%= link_to('Kurt', 'https://www.kurthsu.com/', target: 'blank') %>
  </p>
</footer>
